#include <crails/cms/models/settings.hpp>
#include <crails/cms/views/style.hpp>
#include <crails/cms/time.hpp>
#include <crails/cms/local_route.hpp>
#include <crails/i18n.hpp>
#include "app/models/festival.hpp"
#include "app/models/artist.hpp"

const Crails::Cms::Settings& @settings;
const Crails::Cms::Style& style = settings.get_style();
const Festival& @model;
Crails::Cms::LocalRoute route = Crails::Cms::LocalRoute(vars);
bool @preview = false;

// END LINKING

<%= style.breadcrumbs({
  {route(), i18n::t("festival.index")},
  {route.make(model.get_slug()), model.get_title()}
}) %>

<%= style.section(0, {{"class", "festival-head"}}) yields %>
  <h2><%= model.get_title() %></h2>

  <div class="festival-body">
    <%= model.get_body() %>
  </div>
<% yields-end %>

<%= style.section(1, {{"class", "festival-events"}}) yields %>
  <% for (const auto& event : model.sorted_events()) do -%>
    <%= tag("div", {
      {"id", event->get_html_id()},
      {"class", style.card_classes() + "festival-event"}
    }) yields %>
      <div class="thumbnail">
        <%= tag("img", {{"src",event->get_thumbnail_url()}}) %>
      </div>
      <h3 class="title">
        <%= event->get_title() %>
      </h3>
      <div class="dates">
        <%= partial("festival/_dates", {
          {"dates", event->get_dates_map()}
        }) %>
      </div>
      <div class="description">
        <%= event->get_body() %>
      </div>
      <% if (event->get_programme().length()) do -%>
        <div class="controls">
          <%= tag("a", {
                {"class", std::string(style.button_classes() + "festival-programme-button")},
                {"href", route.make(model.get_slug(), event->get_slug(), "programme")} 
              }) yields %>
            <%= i18n::t("festival.view-programme") %>
          <% yields-end %>
        </div>
      <% end -%>
    <% yields-end %>
  <% end -%>
<% yields-end %>

<% if (preview) do %>
  <%= partial("preview_script") %>
<% end %>
