#include <crails/cms/models/settings.hpp>
#include <crails/cms/views/style.hpp>
#include <crails/cms/time.hpp>
#include <crails/cms/routes.hpp>
#include <crails/i18n.hpp>
#include "app/controllers/festival.hpp"
#include "app/models/festival.hpp"
#include "app/models/event.hpp"

const Crails::Cms::Settings& @settings;
const Crails::Cms::Style& style = settings.get_style();
const Crails::Cms::LocalRoute route = Crails::Cms::Routes::get_local_route_for<FestivalController>();
const Event& @model;
const Festival& @festival;
bool @preview = false;

// END LINKING

<%= style.breadcrumbs({
  {route(), i18n::t("festival.index")},
  {route.make(festival.get_slug() + '#' + model.get_html_id()), festival.get_title()},
  {route.make(festival.get_slug(), model.get_slug()), model.get_title()}
}) %>

<%= tag("div", {{"class", style.document_wrapper_classes()}}) yields %>
  <section class="festival-event-head">
    <h2><%= model.get_title() %></h2>

    <%= partial("festival/_dates", {
      {"dates", model.get_dates_map()}
    }) %>

    <div class="event-body">
      <%= model.get_body() %>
    </div>
  </section>

  <% if (model.get_programme().length()) do -%>
    <section class="festival-event-programme">
      <h3>
        <%= i18n::t("festival.programme") %>
      </h3>

      <div class="programme-body">
        <%= model.get_programme() %>
      </div>
    </section>
  <% end -%>
<% yields-end %>

<% if (preview) do %>
  <%= partial("preview_script") %>
<% end %>
